/* $Id$ */
/**
 * Copyright (c) <2005> LISSY Alexandre <webmaster@lissyx-overclocking.fr.st>
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and
 * associated documentation files (the "Software"), to deal in the Software without restriction, including 
 * without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the
 * following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all copies or substantial 
 * portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT 
 * LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN 
 * NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, 
 * WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE 
 * SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 **/

@import url("meik.common.css");
 
#head h1 {
	color: rgb(135,12,12);
	background-color: rgb(255,143,143);
	left: 1.5mm;
}
 
h2 {
	background-color: rgb(220,0,0);
}
 
h3 {
	font-size: 1.2em;
	padding-left: 2em;
	text-decoration: underline;
}

.big {
	font-size: 150%;
	font-weight: bold;
}

#lang-select {
	background-color: rgb(235,135,135);
 }
 
.menu, .back {
 	width: 20em;
 	float: left;
 	clear: left;
 	border-right: 1px solid rgb(153,153,153);
 	background-color: white;
 	border-bottom: 1px solid black;
	-moz-border-radius-bottomright: 15px;
}
 
.menu dl, .back dl {
 	margin: 0;
 	padding: 0 0 1.1em 0;
}
 
.menu dt, .back dt {
 	font-weight: bold;
 	font-size: 1.2em;
 	margin: 0.5em;
 	padding: 0.1ex 0;  /* Circumvents a rendering bug (?) in MSIE 6.0 */
}
 
.menu dd, .back dd {
 	margin: 0 0 0 1.5em;
 	padding: 0.2ex 0;  /* Circumvents a rendering bug (?) in MSIE 6.0 */
 	width: 17em;
}
 
.back dt:before {
	content: "< ";
}

.menu dd:before {
 	content: "+ ";
}
 
.menu a:hover, .back a:hover{
 	color: blue;
}
 
#sql-end {
	background-color: rgb(235,135,135);
}
 
.current {
	color: red;
	font-weight: bold;
}

.good {
	color: green;
	font-weight: bold;
}

.head-user-act {
	width: 100%;
}

.users {
	text-align: center;
	border-collapse: collapse;
}

.users th {
	border: 1px solid rgb(153,153,153);
}

.users td {
	padding: 0px 5px 0px 5px;
	border: 1px solid rgb(220,220,220);
}

.exts table {
	width: 100%;
}

.exts, .auth, .xpi-manage {
	text-align: center;
	border-collapse: collapse;
}

.exts th, .auth th, .xpi-manage th{
	border: 1px solid rgb(153,153,153);
}

.exts td, .auth td, .xpi-manage td {
	padding: 0px 5px 0px 5px;
	border: 1px solid rgb(220,220,220);
}

.auth, .xpi-manage {
	width: 75%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.author {
	width: 100%;
	padding: 0px 5px 0px 5px;
	border-collapse: collapse;
}

.author th {
	border: 0px;
}

.author td {
	padding: 0px 5px 0px 5px;
	border: 0px;
}

.msg-debug, .msg-info, .msg-warning, .msg-error {
	background-color: #fdfdfd;
/*	position: absolute;
 	padding: 5px;
	width: 18em;
	top: 300px;
	left: 5px; */
 }
  
input, select {
	background-color: rgb(255,235,240);
	border: 1px solid red;
 }


input[type="button"], input[type="submit"] {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

select[name="mass-update"] {
	width: 49%;
}

fieldset[id="fiel-mass-update"] {
	width: 61em;
}

.invalid {
	color: red;
	font-weight: bold;
	font-size: 125%;
}

.logo-mini-admin {
	z-index: 1;
	position: absolute;
	top: -0.5em;
	left: 60em;
}


#description {
	margin-top: 0em;
	background-color: rgb(200,240,210);
	padding-left: 0em;
	padding-bottom: 1em;
	width: 50%;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomright: 15px;
	float: right;
}

#desc-error, #desc-name, #desc-vers, #desc-desc {
	padding-left: 0.5em;
}

#titre-desc {
	text-align: left;
	text-decoration: underline;
	font-size: 1.2em;
	font-weight: normal;
}

#titre-desc-name, #titre-desc-vers, #titre-desc-desc {
	font-weight: bold;
	text-align: right;
	vertical-align: top;
	width: 20%;
}

#desc-name, #desc-vers, #desc-desc {
	text-align: left;
}

img {
	border: 0;
}