/* $Id$ */
/**
 * Copyright (c) <2005> LISSY Alexandre <webmaster@lissyx-overclocking.fr.st>
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and
 * associated documentation files (the "Software"), to deal in the Software without restriction, including 
 * without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the
 * following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all copies or substantial 
 * portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT 
 * LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN 
 * NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, 
 * WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE 
 * SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 **/

@import url("meik.common.css");

#head h1, #info-reg {
	color: rgb(39,78,144);
	background-color: rgb(140,170,230);
	left: 300px;
}

h2 {
	background-color: rgb(0,51,153);
}

h2:before {
	content: " --- \"";
}

h2:after {
	content: "\" --- ";
}

#lang-select {
	background-color: rgb(100,135,220);
}

.menu {
	-moz-border-radius-bottomright: 15px;
}
 
#sql-end {
	background-color: rgb(100,135,220);
 }

#description {
	margin-top: 0.5em;
	background-color: rgb(200,235,250);
	padding-left: 0.5em;
	padding-bottom: 0.5em;
	width: 85%;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomright: 15px;
}

#desc-error, #desc-name, #desc-vers, #desc-desc {
	padding-left: 0.5em;
}

#titre-desc {
	text-align: left;
	text-decoration: underline;
	font-size: 1.2em;
	font-weight: normal;
}

#titre-desc-name, #titre-desc-vers, #titre-desc-desc {
	font-weight: bold;
	text-align: right;
	vertical-align: top;
	width: 20%;
}

#desc-name, #desc-vers, #desc-desc {
	text-align: left;
}

#prof-name {
	font-size: 1.2em;
	font-weight: bold;
}

#modif-prof td {
	text-align: center;
}

.msg-debug, .msg-info, .msg-warning, .msg-error {
	top: 350px;
}
  
.msg-warning {
	color: orange;
}

input, select {
	background-color: rgb(235,240,255);
	border: 1px solid navy;
}

.extension {
	list-style-type: none;
	margin-left: -20px;
	font-size: 1.1em;
}

.nom-appli {
	font-weight: bold;
}

.logo {
	text-align: center;
}

.logo-mini {
	z-index: 1;
	position: absolute;
	top: -0.5em;
	left: 60em;
}

.active td {
	font-weight: bold;
	color: red;
}