/* $Id$ */
/**
 * Copyright (c) <2005> LISSY Alexandre <webmaster@lissyx-overclocking.fr.st>
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and
 * associated documentation files (the "Software"), to deal in the Software without restriction, including 
 * without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the
 * following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all copies or substantial 
 * portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT 
 * LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN 
 * NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, 
 * WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE 
 * SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 **/

html {
	color: black;
	background-color: rgb(240,240,240);
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 71%;  /* Enables font size scaling in MSIE */
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: navy;
}

#head h1 {
	padding: 0.25ex 0.5ex 0 1ex;
	right: 1.5mm;
	height: 1.5em;
	font-size: 250%;
	font-weight: normal;
	margin: 0;
}

.version {
	font-size: 50%;
}

h2 {
	color: white;
	font-size: 1.5em;
	text-align: left;
	padding: 1mm 1mm 1mm 1.5mm;
	margin: 0;
}

.min, .max {
	font-weight: bold;
}

.min {
	color: green;
}

.max {
	color: red;
}

.error {
	color: red;
	font-weight: bold;
}

#menu-profils dd  {
	display: inline;
}

#lang-select {
	text-align: right;
	padding: 0.01mm 4mm 0 0;
	height: 2em;
}

.menu {
	width: 20em;
	float: left;
	clear: left;
	border-right: 1px solid rgb(153,153,153);
	background-color: white;
	border-bottom: 1px solid black;
}

.menu dl {
	margin: 0;
	padding: 0 0 1.1em 0;
}

.menu dt {
	font-weight: bold;
	font-size: 1.2em;
	margin: 0.5em;
	padding: 0.1ex 0;  /* Circumvents a rendering bug (?) in MSIE 6.0 */
}

.menu dd {
	margin: 0 0 0 1.5em;
	padding: 0.2ex 0;  /* Circumvents a rendering bug (?) in MSIE 6.0 */
	width: 17em;
}

.menu dt:before {
	content: "> ";
}

.menu dd:before {
	content: "+ ";
}

.menu dd:hover {
	background-color: #ededed;
}

.menu a:hover {
	color: blue;
}

.contenu {
	color: black;
	background-color: white;
	/* text-align: justify; */
	line-height: 1.5em;
	margin: 0 0 0 20em;
	padding: 5mm 5mm 5mm 5mm;
	border-left: 1px solid rgb(153,153,153);
	border-bottom: 1px solid black;
	-moz-border-radius-bottomleft: 15px;
}

#sql-end {
	color: white;
	font-size: 91%;
	margin: 0;
	padding: 1em 2.5mm 2.5ex 2.5mm;
	clear: both;
	text-align: right;
}

#sql-end a {
	color: white;
	background-color: transparent;
	text-decoration: underline;
}

#sql-end a:hover {
	text-decoration: none;
}

#credits {
	text-align: right;
	margin: 2px;
	padding: 0.5em 1em 0 0;
}

.msg-debug, .msg-info, .msg-warning, .msg-error {
	padding: 5px;
}

.msg-debug {
	color: black;
}

.msg-info {
	color: green;
}

.msg-warning {
	color: orange;
}

.msg-error {
	color: red;
}

input, select {
	font-family: verdana, helvetica, arial, serif;
	font-size: 1.1em;
}


.nom-appli {
	font-weight: bold;
}

.logo {
	text-align: center;
}

.logo-mini {
	z-index: 1;
	position: absolute;
	top: -0.5em;
	left: 60em;
}

.nice {
	text-align: center;
	border-collapse: collapse;
}

.nice th {
	border: 1px solid rgb(153,153,153);
}

.nice td {
	padding: 0px 5px 0px 5px;
	border: 1px solid rgb(220,220,220);
}