/* $Id$ */
/**
 * Copyright (c) <2005> LISSY Alexandre <webmaster@lissyx-overclocking.fr.st>
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and
 * associated documentation files (the "Software"), to deal in the Software without restriction, including 
 * without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the
 * following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all copies or substantial 
 * portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT 
 * LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN 
 * NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, 
 * WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE 
 * SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 **/

@import url(../meik.common.css);

#head h1, #info-reg {
	color: rgb(39,78,144);
	background-color: rgb(140,170,230);
	left: 300px;
}

h2 {
	background-color: rgb(0,51,153);
}

#lang-select {
	background-color: rgb(100,135,220);
}

.menu {
	-moz-border-radius-bottomright: 15px;
}
 
#sql-end {
	background-color: rgb(100,135,220);
 }

.msg-debug, .msg-info, .msg-warning, .msg-error {
	top: 350px;
}
  
.msg-warning {
	color: orange;
}

input, select {
	background-color: rgb(235,240,255);
	border: 1px solid navy;
}

.logo {
	text-align: center;
}

.logo-mini {
	z-index: 1;
	position: absolute;
	top: -0.5em;
	left: 60em;
}

.current, .current a, .current a:hover {
	color: orange;
	font-weight: bold;
}

.done, .done a, .done a:hover {
	text-decoration: line-through;
	color: green;
	font-weight: bold;
}

.align-right {
	text-align: right;
}

.grey {
	background-color: #eee;
}

.exts, .auth, .xpi-manage {
	text-align: center;
	border-collapse: collapse;
}

.auth th {
	border: 1px solid rgb(153,153,153);
}

.auth td {
	padding: 0px 5px 0px 5px;
	border: 1px solid rgb(220,220,220);
}

.auth {
	width: 75%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}